<li>
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">
      <article>
        <img src="{{imageUrl}}" alt="{{imageAlt}}" width="480">
        <h2>{{title}}</h2>
        <p>Posted by: {{author}}</p>
        <p>{{summary}}</p>
      </article>
    </a>
</li>