{{#each item}}
 <div>
    <h1>{{name}}</h1>
    <p>{{capital}}</p>
    <p>{{currency}}</p>
    <p>{{language}}</p>
    <p>{{population}}</p>
    <p>{{infected}}</p>
    <img src="{{flag}}">
</div>
{{/each}}